@import "../default/mixins";

.dn-hover-cards {
    @include standard-container-padding();  
    
    .intro-content {
        @include intro-content-margin();
        text-align: center;
        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }
    .dn-hover-card {
        margin-bottom: 30px;
        @media ( max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    .card-container {
        margin-bottom: -30px;
        @media ( max-width: 767px) {
            margin-bottom: -15px;
        }
        @media ( max-width: 767px) {
            .row {
                margin-left: -15px;
                margin-right: -15px; 
            }
        }
    }
} 

.dn-hover-card {
    position: relative;
    height: 340px;
    text-align: center;
    overflow: hidden;
    .content {
        position: absolute;
        top: 288px;
        height: 100%;
        width: 100%;
        background-color: white;
        transition: top $main-transition-time $main-transition-type;
        -webkit-transition: top $main-transition-time $main-transition-type;
        -moz-transition: top $main-transition-time $main-transition-type;
        -o-transition: top $main-transition-time $main-transition-type;
        @media ( max-width: 767px) {
            top: 280px;
        }
    }
    &:hover {
        .content {
            top: 0rem;
        }
        .content-inner {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    }
    .content-inner {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 15px;
        transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -webkit-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -moz-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -o-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        h3 {
            margin: 0;
            height: 52px;
            line-height: 52px;
            @media ( max-width: 767px) {
                font-size: 1.15em;
            }
        }
    }
    &.hover {
        .content {
            top: 0;
        }
        .content-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}