@import "../default/mixins";

.dn-block-flex {
    @include standard-container-padding();

    .intro-content {
        text-align: center;
        @include intro-content-margin();
        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }
    .post-container {
        margin-bottom: -30px;
        // Gives items even height
        @media ( min-width: 768px) {
            .row {
                display: flex;
                flex-wrap: wrap;
            }
        }
        // Gives items overflow scroll
        @media ( max-width: 767px) {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .row {
                display: flex;
                >div{
                    padding-left: 0;
                    &:first-child{
                        padding-left: 15px;
                    }
                }
                /* &>div:not(:last-of-type) {
                    padding-left: 0;
                } */
            }
        }
    }
    .dn-basic-post-card {
        padding-bottom: 30px;
        // Gives items even height
        @media ( min-width: 768px) {
            height: 100%;
            display: flex;
            flex-direction: column;
            .post-content {
                flex-grow: 1;
            }
        }
        @media ( max-width: 767px) {
            width: 220px;
            width: calc( (100vw - 30px) * 0.9);
            height: 100%;
            padding-bottom: 0;
        }
    }
}