@import "../default/mixins";

.dn-team-cards {
    @include standard-container-padding();
  
    .intro-content {
      text-align: center;
      @include intro-content-margin();
    }
  
    .cards-title {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
    .single-team {
        padding-bottom: 2rem;
      .image-container {
        height: 275px;
      }
      h3{
        margin-top: 1rem;
        margin-bottom: .2rem;
      }
      h4{
        margin-bottom: .5rem;
      }

      /*
      // this is for social media
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          margin: 0 10px;
          &:first-child {
            margin: 0;
          }
          a {
            border: none !important;
          }
        }
      }
    */
      
    }
}
  