@import "../default/mixins";

$divider_space: 80px;
$divider_width: 2px;

.dn-content-timeline {
    @include standard-container-padding();
    .top-content {
        @include remove-leading-margins();
        @include intro-content-margin();
        text-align: center;
    }

    .timeline-inner{
        position: relative;
    }
    
    .timeline-row{
        
        position: relative;
        margin-bottom: $divider_space;

        @include bp(767px){
            > *[class*="col-"]{
                padding-left: 60px;
            }
        }

        h3{
            margin-bottom: .2rem;
        }
        h4{
            margin-bottom: .4rem;
        }
        

        &.last{
            margin-bottom: 0;
        }

        .content{
            @include bpm( 768px ){
                text-align: right;
                padding-right: $divider_space;
            }
            
        }
        .image{
            @include bpm( 768px ){
                padding-left: $divider_space;
            }
        }
        &.reverse{
            .content{
                @include bpm( 768px ){
                    float: right;
                    text-align: left;
                    padding-left: $divider_space;
                    padding-right: 15px;
                }
            }
            .image{
                @include bpm( 768px ){
                    padding-right: $divider_space;
                    padding-left: 15px;
                }
            }
        
        }
    }
    .image-holder{
        position: relative;
        width: 100%;
        height: 280px;
    }

    .timeline-head{
        width: ($divider_space / 2) + 60;
        height: $divider_space + 20;
        display: block;
        margin: 0 auto;
        border-top: $divider_width solid #000;
        &.bottom{
            border-top: 0;
            border-bottom: $divider_width solid #000;
        }
        @include bp(767px){
            margin: 0;
            height: 45px;
        }
        
    }

    .vertical-line{
        position: absolute;
        width: $divider_width;
        height: 100%;
        display: block;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #000;
        @include bp(767px){
            left: 0;
            transform: translateX(0);
        }
    }

    .divider{
        position: absolute;
        width: ($divider_space / 2) + 60;
        height: $divider_width;
        background: #000;
        display: block;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        @include bp(767px){
            width: 25px;
            top: 10px; // adjust this to match with heading height
            left: 15px;
            transform: translateX(0) translateY(0);
        }
        
        
    }

}