.site-footer{
    background: #000;
    color: #fff;
    padding: 2rem 0;

    @include bp(991px){
        text-align: center;
    }
    p{
        margin-bottom: 0;
    }
    a{
        color: #fff;
    }
    .digital-noir{
        text-align: right;
        a{
            font-size: 120%;
            border: none;
        }
        @include bp(991px){
            text-align: center;
        }
        
    }
}