// load static header
@import "burger";

// Various header variables
$header-height-lg: 124px; // adjust this based on project
$header-height-md: 82px;
$header-height-sm: 82px;
$header-height-xs: 82px;


// All Header Styling
// Please Comment the header style that not in use

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Drop Down Menu //////////////////////////////
///////////////////////////////////////////////////////////////////////////////
@import "menu-dropdown";


///////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// Side Menu /////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
//@import "menu-side";

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////// Blocky Menu /////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
//@import "menu-blocky";