// load default burger 
@import "burger";

.site-branding,
.main-navigation{
    position: relative;
    z-index: 5;
}

body.header-stuck {
    .menu-dropdown{
        padding: 1em; // on sticky header
        ul.sub-menu{
            padding-top: 29px; // adjust the space here as per project
        }
    }
}

body.mobile-menu-open{
    #menu-dropdown-resp{
        transform: translateY(0);
    }
}

.menu-dropdown{
    background: #000;
    color: #fff;
    padding: 2em;
    display: flex;
    align-items: center;
    @include transition;
    position: fixed;
    z-index: 500;
    width: 100%;

    // on tablet and below disable header stuck
    @include bp(1200px){
        padding: 1em;
    }
    
    // The real content padding
    + .page-content-wrapper{
        padding-top: $header-height-lg;
        @include bp(1200px){
            padding-top: $header-height-md;
        }
        @include bp(991px){
            padding-top: $header-height-sm;
        }
        @include bp(767px){
            padding-top: $header-height-xs;
        }
        
    }

    .site-branding img{
        display: block;
        @include bp(1200px){
            height: 50px;
            width: auto;
        }
        
    }

    .main-navigation{
        margin-left: auto;
        flex-direction: row;
        ul{
            li{
                font-size: 1.25em;
                margin: .5em 1.25em;
               
                a{
                    color: #fff;
                    @include transition(color $main-transition-time $main-transition-type);
                }
                &.current_page_parent,
                &.current-menu-item,
                &.current-menu-ancestor,
                &:hover {
                    > a{
                        color: $dn-primary-color;
                    }
                }
                // add chevron
                &.menu-item-has-children{
                    > a:after{
                        @include icomoon-font();
                        content: '\e903';
                        margin-left: 5px;
                    }
                    .menu-item-has-children a:after{
                        display: none;
                    }
                    &:hover{
                        > a:after{
                            content: '\e904'
                        }
                    }
                }
            }
        }
        
        ul.sub-menu{
            padding-top: 45px; // adjust the space here as per project, see what happen on stuck
            @include transition(padding $main-transition-time $main-transition-type);
            
            li{
                background: #313131;
                font-size: .9em; // make submenu size smaller
                margin: 0;

                &:first-of-type{
                    padding-top: 1em;
                }

                &:last-of-type{
                    padding-bottom: 1em;
                }

                a{
                    padding: .5em 1.5em;
                    display: block;
                }
            }
        }

        // search icon
        .icon-search{
            line-height: 1.5;
        }
    }

    @include bp-print(){
        position: relative;
    }
    
}

#menu-dropdown-resp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 400;
    overflow: auto;
    transform: translateY(-100%);
    @include transition(transform $main-transition-time $main-transition-type);

    @include bp(1200px){
        padding-top: $header-height-md;
    }
    @include bp(991px){
        padding-top: $header-height-sm;
    }
    @include bp(767px){
        padding-top: $header-height-xs;
    }

    // styling
    ul li {
        font-size: 1.25em;
        &:not(.menu-item-has-children){
            margin: .5em 0;
        }
        a{
            color: $dn-text-color;
            text-decoration: none;
        }
        ul.sub-menu li{
            font-size: .75em;
        }
    }

    .mobile-menu-wrapper{
        display: table;
        height: 100%;
        margin: 0 auto;
        padding: 2em 0;
        vertical-align: middle;
    
        .mobile-menu-holder{
            display: table-cell;
            vertical-align: middle;
        }
    
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        } 
    }
    .social-navigation{
        padding: 20px 0;
        a{
            color: inherit;
            text-decoration: none;
            margin: 0 0.5em;
        }
    }
}

#menu-dropdown-trigger{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 600;
    height: $header-height-xs;
    display: table;
    > * {
        display: table-cell;
        vertical-align: middle;
        height: $header-height-xs;
    }

    .search-resp a {
        font-size: 2.25em;
        text-decoration: none;
        line-height: 1;
        display: flex;
        visibility: visible;
        align-items: center;
        color: #fff;
    }
    
    .hamburger-box{
        vertical-align: middle;
    }
}
