// load default burger 
@import "burger";

.site-branding,
.main-navigation{
    position: relative;
    z-index: 5;
}

body.header-stuck {
    .menu-side{
        padding: 1em; // on sticky header
    }
}

body.mobile-menu-open{
    #menu-side-resp{
        transform: translateX(-100%);
    }
    .site-branding img{
        opacity: 0; 
    }
}

.menu-side{
    background: #000;
    color: #000;
    padding: 2em;
    display: flex;
    align-items: center;
    @include transition;
    position: fixed;
    z-index: 500;
    width: 100%;

    // on tablet and below disable header stuck
    @include bp(1200px){
        padding: 1em;
    }
    
    // The real content padding
    + .page-content-wrapper{
        padding-top: $header-height-lg;
        @include bp(1200px){
            padding-top: $header-height-md;
        }
        @include bp(991px){
            padding-top: $header-height-sm;
        }
        @include bp(767px){
            padding-top: $header-height-xs;
        }
        
    }

    .site-branding img{
        display: block;
        @include transition(opacity $main-transition-time $main-transition-type);
        @include bp(1200px){
            height: 50px;
            width: auto;
        }
        
    }

    .menu-side-main-navigation{
        margin-left: auto;
        flex-direction: row;
        ul{
            li{
                font-size: 1.25em;
                margin: .5em 0;
               
                a{
                    color: #fff;
                    @include transition(color $main-transition-time $main-transition-type);
                }
            }
        }
        
    }

    @include bp-print(){
        position: relative;
    }
    
}

#menu-side-resp{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    max-width: 80%;
    height: 100vh;
    background-color: #000;
    z-index: 400;
    overflow: auto;
    transform: translateX(0%);
    display: block;
    color: #fff;
    @include transition(transform $main-transition-time $main-transition-type);

    /*
    padding-top: $header-height-lg;

    @include bp(1200px){
        padding-top: $header-height-md;
    }
    @include bp(991px){
        padding-top: $header-height-sm;
    }
    @include bp(767px){
        padding-top: $header-height-xs;
    } */

    // styling
    ul li {
        font-size: 1.25em;
        a{
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $dn-primary-color;
            }
        }
        ul.sub-menu li{
            font-size: .75em;
            margin: .5em 0;
        }
        &.current_page_parent,
        &.current-menu-item,
        &.current-menu-ancestor,
        &:hover {
            > a{
                color: $dn-primary-color;
            }
        }
    }

    .mobile-menu-wrapper{
        display: table;
        height: 100%;
        padding: 2em 4em;
        vertical-align: middle;
    
        .mobile-menu-holder{
            display: table-cell;
            vertical-align: middle;
        }
    
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
        } 
    }
    .social-navigation{
        padding: 20px 0;
        a{
            color: inherit;
            text-decoration: none;
            margin: 0 0.5em;
        }
    }
}

#menu-side-trigger{
    position: relative;
    z-index: 600;
    display: table;
    > * {
        display: table-cell;
        vertical-align: middle;
    }

    .search-resp a {
        font-size: 2.25em;
        text-decoration: none;
        line-height: 1;
        display: flex;
        visibility: visible;
        align-items: center;
        color: #fff;
    }
    
    .hamburger-box{
        vertical-align: middle;
    }
}

#menu-side-shader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 5;
}