@import "../default/mixins";

.shader-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
}
.header-search-form.fullscreen{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3000;
    padding: 2rem 0;
    
    @include transition(transform  $main-transition-time $main-transition-type);
    .form-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        z-index: 3001;
    }
    form{
        position: relative;
    }
    label{
        position: absolute;
        bottom: 100%;
        color: #fff;
    }
    .search-field{
        background:transparent;
        color: #fff;
        border: none;
        padding-left: 0!important;
        font-size: 200%;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
        }
    
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff;
        }
    
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
        }
    
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #fff;
        }
    }
    .search-submit{
        position: absolute;
        right: 0;
        top:0;
        height: 60px;
        width: auto;
    }
    .fullscreen-shader{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 3000;
    }
    button[type="submit"].search-submit{
        background: transparent;
        font-size: 200%;
        border: none;
    }
} 

#menu-dropdown-trigger{
    @include transition(opacity $main-transition-time $main-transition-type);
    opacity: 1;
}

body.search-open #menu-dropdown-trigger{
    opacity: 0;
}